.big-logo {
    margin-top: 4em;
    margin-bottom: 2em;
}
.big-logo h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 84px;
    text-align: center;
    font-weight: lighter;
    color: #444;
}
.big-logo div {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
}
.top-bar {
    background-color: #444;
    color: white;
    margin-bottom: 4em;
}
.top-bar h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: lighter;
    font-size: 32px;
}
@media only screen
and (max-width: 736px) {
    .big-logo h1 {
        font-size: 24px;
    }
    .big-logo div {
        font-size: 18px;
    }
}

.foo-enter {
    opacity: 0;
}
.foo-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.foo-leave {
    display: none;
}
